# .env.example (Example of environment variables file for the application. This file should be copied to .env and filled with actual values for the application to work properly.)

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=

# Environment variables automatically read by VS Code, e.g. running tests
# For tests, a large terminal width
TERMINAL_WIDTH=
